body, html {
    height: 100%;
    margin: 0;
    background-color: #333333;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Input {
    width: 350px;
    height: 80px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

form {
    display: flex;
    align-items: center;
    gap: 5px;
}

label, input, .MainForcast, .Location, .MainTemperature, .MainMisc, .Forcast {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

label {
    font-weight: bold;
}

.MainForcast {
    font-size: 4rem;
    margin-left: 5px;
    margin-top: 20%;
}

input {
    border-radius: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 5px;
}

button:hover {
    box-shadow: 5px 10px 5px rgb(171, 169, 169);
}

.Search img {
    width: 20px;
    height: 20px;
}

.Content {
    flex: 1;
    margin: 20px;
    display: grid;
    grid-template-rows: 2fr / 1fr / 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.MainInfo {
    margin: 5px;
    border-radius: 5px;
    grid-area: 1 / 1 / 3 / 3;
}

.Forcast {
    margin: 5px;
    border-radius: 5px;
    background-color: white;
}

.MainContent {
    height: 65%;
    display: flex;
    background-color: white;
    border-radius: 5px;
}

.MainWeather, .MainIcon {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

.MainWeather {
    margin-left: 10px;
}

.MainBottom {
    display: flex;
    height: 35%;
}

.MainTemperature, .MainMisc {
    margin-top: 10px;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    font-size: 1.5rem;
    color: white;
}

.MainCelcius, .MainFahrenheit, .MainHumidity, .MainWind {
    box-sizing: border-box;
    background-color: #6c6a6a;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 10px 5px rgb(171, 169, 169);
}

.Forcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
}

.Forcast:hover {
    color: white;
    background-color: #6c6a6a;
    box-shadow: 5px 10px 5px rgb(171, 169, 169);
}

.Day {
    font-size: 4rem;
}

.Temperature, .Description {
    font-size: 1.5rem;
}

.Icon {
    width: 100%;
    height: 45%;
}

.Temperature {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}